$primary-font: 'Lora', serif;
$secondary-font: 'Lato', sans-serif;

$white: #ffffff;
$black: #000000;
$adn-red: #ba2025;
$alaska-yellow: #edbb32;

$navbar-color: #e5e4e4;
$facebook-color: #3b5b96;
$twitter-color: #57abda;
$mail-color: #5cb7df;
