<div class="col-lg-8 col-lg-offset-4 blog-post">

  <div class="blog-post-content">

      <div class="row">
        <div class="col-lg-12 text-right">
          <p>Time Stamp</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <h1>Alaska congressional delegation in the dark on Obama visit</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <p>Erica Martinson</p>
        </div>
        <div class="col-lg-6 share-buttons">
          <img src="images/share_mock.png"/>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <img class="img-responsive blog-post-thumbnail" src="https://www.adn.com/sites/default/files/styles/ad_slideshow_wide/public/150822BirdTLC03.JPG?itok=Dg8_Kkg1" />
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <p>On a brisk September morning last fall, the topic on KFQD’s “Bernadette and Berkowitz” was plastic
bags.
“Their ban on plastic bags,” host Bernadette Wilson was saying, referring to a California law, “is ridiculous.”
Her co-host and liberal foil, San Francisco-born Ethan Berkowitz, challenged whether she actually
recycled plastic bags. Their sparring on the topic extended over a commercial break.
“Look at you putting the ‘conserve’ back in conservative,” Berkowitz jibed.
It was the type of banter that made Wilson, a conservative commentator, and Berkowitz, a former
Democratic state representative, popular on the air. As a counterpoint to Wilson, Berkowitz was
constantly questioning her sources of information and wondering what controversies like President
Barack Obama’s “latte salute” said about society.</p>
          <h3 class="blog-post-readmore">Read More >></h3>
        </div>
      </div>

  </div>

</div>

<!--Second Post test -->

<div class="col-lg-8 col-lg-offset-4 blog-post">

  <div class="blog-post-content">

      <div class="row">
        <div class="col-lg-12 text-right">
          <p>Time Stamp</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <h1>Alaska congressional delegation in the dark on Obama visit</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <p>Erica Martinson</p>
        </div>
        <div class="col-lg-6 share-buttons">
          <img src="images/share_mock.png"/>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <img class="img-responsive blog-post-thumbnail" src="https://www.adn.com/sites/default/files/styles/ad_slideshow_wide/public/150822BirdTLC03.JPG?itok=Dg8_Kkg1" />
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <p>On a brisk September morning last fall, the topic on KFQD’s “Bernadette and Berkowitz” was plastic
bags.
“Their ban on plastic bags,” host Bernadette Wilson was saying, referring to a California law, “is ridiculous.”
Her co-host and liberal foil, San Francisco-born Ethan Berkowitz, challenged whether she actually
recycled plastic bags. Their sparring on the topic extended over a commercial break.
“Look at you putting the ‘conserve’ back in conservative,” Berkowitz jibed.
It was the type of banter that made Wilson, a conservative commentator, and Berkowitz, a former
Democratic state representative, popular on the air. As a counterpoint to Wilson, Berkowitz was
constantly questioning her sources of information and wondering what controversies like President
Barack Obama’s “latte salute” said about society.</p>
          <h3 class="blog-post-readmore">Read More >></h3>
        </div>
      </div>

  </div>

</div>
