<div class="col-lg-4 col-lg-offset-1 text-center">
  <h1>HELLO THIS IS WHERE</h1>
  <h2>WE CANPLACE SOME ADS</h2>
  <img class="img-responsive" src="http://jamesiv.es/images/pixel_face.png">
</div>

<div class="col-lg-5 col-lg-offset-0">

  <div ng-repeat="article in articles" class="blog-post">

    <div class="blog-post-content">

        <div class="row">
          <div class="col-lg-6 blog-post-topic">
            <p>{{ article.topics }}</p>
          </div>
          <div class="col-lg-6 text-right">
            <p>{{ article.posted }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <h1><a href="http://adn.com/{{ article.path }}">{{ article.node_title }}</a></h1>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 blog-post-author">
            <p>{{ article.author }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <span ng-class="blog-post-thumbnail" ng-bind-html="to_trusted(article.image_940)"></span>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <span ng-bind-html="to_trusted(article.teaser)"></span>
            <h3 class="blog-post-readmore"><a href="http://adn.com{{ article.path }}">Read More >></a></h3>
          </div>
        </div>

    </div>

  </div>

</div>
